{% extends "base.html" %}
{% load static %}
{% block title %}
         Event | Rating
{% endblock %}
{% block body %}

{% if user.is_authenticated %}
    {% if not already_rated %}
        <form method="post">
            {% csrf_token %}
            <h4>Submit your rating:</h4>
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit Rating</button>
            <a href="/"><button type="button" class="btn btn-primary" style="box-shadow:8px 5px 9px #8d8893;">Back</button></a>
        </form>
    {% else %}
        <p>You have already rated this venue.</p>
    {% endif %}
{% else %}
    <p>Please <a href="/login_user">login</a> to rate this venue.</p>
    <a href="/index"><button type="button" class="btn btn-primary" style="box-shadow:8px 5px 9px #8d8893;">Back</button></a>
{% endif %}

{% endblock  %}